services:
  portfolio-fe:
    image: ngothanhdatak/portfolio-fe:datngo
    container_name: portfolio-app
    ports:
      - "5173:5173"
    restart: unless-stopped
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge
