name: Portfolio Build & Push

on:
  push:
    branches: ['main']
    paths:
      - 'src/**'
      - 'Dockerfile'
      - 'package.json'
      - 'vite.config.js'
      - '.github/workflows/fe-deloy.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: docker

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # =============================
      # Build & Push Portfolio
      # =============================
      - name: Build Portfolio
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ngothanhdatak/portfolio:lastest
